<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Kolej Profesional MARA Indera Mahkota </h1>
    <h2> Course </h2>
    <form action="" method="post">
        {% csrf_token %}
        Course Code <input type="text" name="code"><br><br>
        Description <input type="text" name="desc"><br><br>
        <input type="submit" value="SAVE"><br><br>
    </form>
    <table>
        <tr>
            <th> CODE </th>
            <th> DESCRIPTION </th>
            <th> UPDATE? </th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{course.code}}</td>
                <td>{{course.desc}}</td>
                <td><a href='update_course/{{course.code}}'>Update</a></td>
                <td><a href="delete_course/{{course.code}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
    {{message}}
    <button><a href="{% url 'index' %}"> back</a></button>
    <br></br>
    <button><a href="{% url 'search_course' %}"> Search </a></button>
</body>
</html>