<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> KOLEJ PROFESIONAL MARA INDERA MAHKOTA </h1>
    <h2> UPDATE COURSE </h2>

    <form action="{% url 'save_update_course' code %}" method="post">
        {% csrf_token %}
            Course Code : <input type="text" name="code" value="{{course.code}}" disabled="false"> <br><br>
            Course Description : <input type="text" name="desc" value="{{course.desc}}"> <br><br>
            <input type="submit" value="SAVE">
    </form>
    <br><br>
    <button><a href="{% url 'Course' %}"> back</a></button>
</body>
</html>